header {
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.825), rgba(0, 0, 0, 0.825)), url("/images/header-background.jpg");
	background-size: cover;
}

.carousel-control {
	&:hover {
		background-color: rgba(0, 0, 0, 0.3);
	}
}

.invitation {
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("/images/invitation-background.jpg");
	background-size: cover;
}

.social-link {
	color: #fbf9f5;
	transition: all 400ms;

	&:hover {
		color: #f8b547;
	}
}

.quick-link {
	transition: all 400ms;

	&:hover {
		background-color: lighten(#212529, 3%);
	}
}

@media (max-width: 767px) {
	.logo {
		width: 140px !important;
		height: 35px !important;
	}
}
